<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soshoplus.timeline">
    <!-- PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/soshoDayNight_noActionBar">
        <activity
            android:name=".ui.viewVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_video"
            android:theme="@style/sosho_FullScreen" />
        <activity android:name=".ui.groups.viewGroup" />
        <activity android:name=".ui.soshoTimeline" />
        <activity android:name=".ui.auth.forgotPassword" />
        <activity android:name=".ui.auth.signUp" />
        <activity android:name=".ui.getStarted" />
        <activity android:name=".ui.auth.signIn" />
        <activity
            android:name=".ui.splash"
            android:theme="@style/soshoDayNight_noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>