<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soshoplus.lite">
    <!-- PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/soshoDayNight_noActionBar">
        <activity android:name="com.soshoplus.lite.ui.hashTagsPosts" />
        <activity android:name="com.soshoplus.lite.ui.user_profile.myProfile" />
        <activity android:name="com.soshoplus.lite.ui.audioRecorderPost" />
        <activity android:name="com.soshoplus.lite.ui.imageVideoPost" />
        <activity android:name="com.soshoplus.lite.ui.groups.groups" />
        <activity android:name="com.soshoplus.lite.ui.user_profile.userProfile" />
        <activity
            android:name="com.soshoplus.lite.ui.viewVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_video"
            android:theme="@style/sosho_FullScreen" />
        <activity android:name="com.soshoplus.lite.ui.groups.viewGroup" />
        <activity android:name="com.soshoplus.lite.ui.soshoTimeline" />
        <activity android:name="com.soshoplus.lite.ui.auth.forgotPassword" />
        <activity android:name="com.soshoplus.lite.ui.auth.signUp" />
        <activity android:name="com.soshoplus.lite.ui.auth.signIn" />
        <activity android:name="com.soshoplus.lite.ui.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ................ -->
        <activity
            android:name="com.teafinn.advance_gallery.ui.activity.AwCamera"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/soshoDayNight_noActionBar" />
        <activity
            android:name="com.teafinn.advance_gallery.ui.activity.TGallery"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/soshoDayNight_noActionBar" />
    </application>

</manifest>